.filter {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.filter span select {
    margin-right: 10px;
}

.filter .reset {
    font-size: large;
    color: purple;
    font-weight: bolder;
}